*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

svg{
    fill: var(--bs-body-color);
}

.navbar{
    padding: 1rem;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar:hover{
    cursor: pointer;
    border: solid 3px var(--bs-emphasis-color);
}

th{
    text-align: center;
}

#toggletheme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
}

#toggletheme:hover {
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--bs-border-color);
}

#toggletheme span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggletheme span svg{
    width: 24px;
    height: 24px;
    fill: var(--bs-body-color);
}